@model List<Amar_Pharmacy1.Models.Seller>
@{
    ViewBag.Title = "Seller Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateSeller</title>
</head>
<body background="~/Content/304896049_600128658279180_102818864862598403_n1.png">
    <div class="container-fluid">
        <div class="row">

        </div>
        <div class="mt-5">
            <div class="col-md-1">

            </div>

            @*<div class="col-md-10 bg-white">*@
                <div class="row">
                    <div class="col-6">
                        <form action="/Admin/CreateSeller" method="post">
                            @*<div class="row">
        <div class="col p-2 bg-light border">*@
                            <b>Seller Address</b>
                            <p>
                                <input type="text" class="form-control" placeholder="Seller Address" name="SellerAddress">
                                @Html.ValidationMessage("SellerAddress", "", new { @class = "text-danger" })
                            </p>
                            @*</div>*@
                            @*<div class="col p-2 bg-light border">*@
                            <b>Seller Name</b><p>
                                <input type="text" class="form-control" placeholder="Seller Name" name="SellerName">
                                @Html.ValidationMessage("SellerName", "", new { @class = "text-danger" })
                            </p>
                            @*</div>*@
                            @*</div>*@
                            @*<div class="row">*@
                            @*<div class="col p-2 bg-light border">*@
                            <b>Seller Email</b>
                            <p>
                                <input type="email" class="form-control" placeholder="Seller Email" name="SellerEmail">
                                @Html.ValidationMessage("SellerEmail", "", new { @class = "text-danger" })
                            </p>
                            @*</div>*@
                            @*<div class="col p-2 bg-light border">*@
                            <b>Seller Password</b>
                            <p>
                                <input type="password" class="form-control" placeholder="Seller Password" name="SellerPassword">
                                @Html.ValidationMessage("SellerPassword", "", new { @class = "text-danger" })
                            </p>
                            @*</div>*@
                            @*</div>*@
                            @*<div class="row ">*@
                            @* <div class="col   p-2 bg-light border">*@
                            <b>Seller DateofBirth</b>
                            <p>
                                <input type="date" class="form-control" placeholder="Seller DateofBirth" name="SellerDOB">
                                @Html.ValidationMessage("SellerDOB", "", new { @class = "text-danger" })
                            </p>
                            @*</div>*@

                            @*<div class="col  p-2 bg-light border">*@
                        <b>Seller Gender</b>
                            <p>
                                <input type="text" class="form-control" placeholder="Seller Gender" name="SellerGender">
                                @Html.ValidationMessage("SellerGender", "", new { @class = "text-danger" })
                                </p>
                                @*</div>*@
                                @*</div>*@

                                <input type="submit" value="Save" class="btn btn-primary ">

                        </form>
        @*  <div class="row">
                <div class="col d-grid ">
                    <button id="EditBtn" type="button" class="btn btn-success">Edit</button>

                </div>

                <div class="col d-grid ">
                    <button id="DeleteBtn" type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>*@
</div>
                    <div class="col-6">

                    </div>
                </div>
            </div>
            <div class="col">

            </div>
        </div>

    @*</div>*@
</body>
</html>
